# Data Analsis 102

In [97]:
import pandas as pd

In [98]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [99]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [100]:
df = pd.read_csv(filename, names = headers)

In [101]:
drive_wheel_counts = df[["drive-wheels"]].value_counts().to_frame()

In [102]:
drive_wheel_counts

                0
drive-wheels
fwd           120
rwd            76
4wd             9

In [103]:
drive_wheel_counts.rename(columns ={"drive-wheels": "Type of drive",0:"Count"}, inplace = True)
drive_wheel_counts

              Count
drive-wheels
fwd             120
rwd              76
4wd               9

In [104]:
drive_wheel_counts.rename({"fwd": "Front", "rwd": "Rear", "4wd": "Four Wheel" }, inplace = True)

In [105]:
drive_wheel_counts

              Count
drive-wheels
Front           120
Rear             76
Four Wheel        9

In [106]:
drive_wheel_counts

              Count
drive-wheels
Front           120
Rear             76
Four Wheel        9

In [107]:
import seaborn as sns
import re

In [108]:
# for i,v in enumerate(df["price"]):
#     if re.search(r"[^0-9]+" ,df["price"][i]):
#         print(i,v)
#         df.at['C', 'x']

In [109]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [113]:
df["price"].replace("?", np.nan, inplace = True)
df["price"] = df["price"].astype("float")

In [115]:
sns.boxplot(x = "drive-wheels", y="price", data = df)