In [1]:
import pandas as pd

In [7]:
df =  pd.DataFrame([[1,2,3],[2,2,3],[3,2,3]])

In [8]:
df

   0  1  2
0  1  2  3
1  2  2  3
2  3  2  3

In [12]:
mapping_dict = {1:"one", 2: "Two", 4:"Four"}
df[0].map(mapping_dict)

0    one
1    Two
2    NaN
Name: 0, dtype: object