# Create a pandas Data Frame.

In [3]:
# import pandas library and alias it using as to pd
import pandas as pd

#### To create a new DataFrame use the format below
>Use dictionary like layout where `key` represent Column Names</br>
>The values will represent column values

In [5]:
new_dataframe = pd.DataFrame({"Column 1":[1, 2, 3], "Column 2":[1, 2, 3]}) 
new_dataframe

   Column 1  Column 2
0         1         1
1         2         2
2         3         3

**Notice the rows are labelled implicitly into a sequence starting from `0`**
### To change the labels of row use a keyword parameter
> `index`=[*list of labels for rows*]

In [8]:
new_dataframe = pd.DataFrame({"Column 1":[1, 2, 3], "Column 2":[1, 2, 3]},
                             index=["Row 1", "Row 2", "Row 3"]) 
new_dataframe

       Column 1  Column 2
Row 1         1         1
Row 2         2         2
Row 3         3         3