In [33]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline

In [34]:
filepath = r"C:\Users\Admin\PycharmProjects\Practice\Datasets\StudentsPerformance.csv"

In [35]:
df = pd.read_csv(filepath)

In [36]:
df["math score"].value_counts().sort_index()

0      1
8      1
18     1
19     1
22     1
      ..
96     3
97     6
98     3
99     3
100    7
Name: math score, Length: 81, dtype: int64

In [38]:
df.index.name = "Sr.No"
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Sr.No,,,,,,,,
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [32]:
df["gender"] = df["gender"].apply(str.capitalize)
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Sr.No,,,,,,,,
0,Female,group B,bachelor's degree,standard,none,72,72,74
1,Female,group C,some college,standard,completed,69,90,88
2,Female,group B,master's degree,standard,none,90,95,93
3,Male,group A,associate's degree,free/reduced,none,47,57,44
4,Male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,Female,group E,master's degree,standard,completed,88,99,95
996,Male,group C,high school,free/reduced,none,62,55,55
997,Female,group C,high school,free/reduced,completed,59,71,65
998,Female,group D,some college,standard,completed,68,78,77
999,Female,group D,some college,free/reduced,none,77,86,86

In [52]:
for i in range(2):
    print(df.iloc[i,:].to_frame())

                                             0
gender                                  female
race/ethnicity                         group B
parental level of education  bachelor's degree
lunch                                 standard
test preparation course                   none
math score                                  72
reading score                               72
writing score                               74
                                        1
gender                             female
race/ethnicity                    group C
parental level of education  some college
lunch                            standard
test preparation course         completed
math score                             69
reading score                          90
writing score                          88

In [63]:
iter1 = iter(df.loc[[0]])

In [69]:
df.loc[0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Sr.No,,,,,,,,
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78

In [77]:
df.describe(include="all")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [88]:
df.sort_values(by=["math score","writing score","reading score"], ascending=[False,False,False], inplace=True)

In [87]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Sr.No,,,,,,,,
623,male,group A,some college,standard,completed,100,96,86
149,male,group E,associate's degree,free/reduced,completed,100,100,93
451,female,group E,some college,standard,none,100,92,97
625,male,group D,some college,standard,completed,100,97,99
962,female,group E,associate's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10