# Creating a DataFrame from List

In [60]:
import pandas as pd
from datetime import datetime

In [61]:
# Define some variable
f_name = "Sanket"
l_name = "Wagh"
height = 176
skills = ["Python", "cooking", "SQL"]
more_details ={"Hair Color":"Black", "Skin Color":"Light Brown", "Eye Color":"Black", "UID":147147}

In [62]:
# Creating Age and Time delta object
b_day = datetime.strptime("18/08/1992","%d/%m/%Y")    # It is a date Object
days_till_today = (datetime.today()-b_day)
age = days_till_today.days/365.25

In [63]:
# Assign variables to list
user_list1 = [f_name, l_name, height, age, b_day,skills,more_details, days_till_today ]
user_list

['Sanket',
 'Wagh',
 176,
 29.12251882272416,
 datetime.datetime(1992, 8, 18, 0, 0),
 ['Python', 'cooking', 'SQL'],
 {'Hair Color': 'Black',
  'Skin Color': 'Light Brown',
  'Eye Color': 'Black',
  'UID': 147147}]

In [64]:
# Create a DataFrame 1
df = pd.DataFrame([user_list1])   # pass the list inside [] as each list inside [] is considered as a row
df

,0,1,2,3,4,5,6,7
0,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125

In [65]:
# Create a DataFrame 2
f_name = "Sanket1"
l_name = "Wagh1"
height = 173
skills = ["Java", "Sleeping", "NoSQL"]
more_details = {"Hair Color": "Black", "Skin Color": "Light Brown", "Eye Color": "Black", "UID": 147148}
# Creating Age and Time delta object
b_day = datetime.strptime("19/06/1998", "%d/%m/%Y")
days_till_today = datetime.today() - b_day
age = (datetime.today() - b_day).days / 365.25
# Assign variables to list
user_list2 = [f_name, l_name, height, age, b_day, skills, more_details, days_till_today]
df = pd.DataFrame([user_list1, user_list2])   # pass any number of lists inside []
df

,0,1,2,3,4,5,6,7
0,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125
1,Sanket1,Wagh1,173,23.288159,1998-06-19,"[Java, Sleeping, NoSQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",8506 days 11:21:10.786041

In [66]:
# define columns
column_name_list = ["First Name", "Last_Name", "Height", "Age", "Birthday", "Skills", "More_details", "Age_till_today"]
df = pd.DataFrame([user_list1, user_list2, user_list1, user_list2], columns=column_name_list)
df

,First Name,Last_Name,Height,Age,Birthday,Skills,More_details,Age_till_today
0,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125
1,Sanket1,Wagh1,173,23.288159,1998-06-19,"[Java, Sleeping, NoSQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",8506 days 11:21:10.786041
2,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125
3,Sanket1,Wagh1,173,23.288159,1998-06-19,"[Java, Sleeping, NoSQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",8506 days 11:21:10.786041

In [67]:
# define indexes
df = pd.DataFrame([user_list1, user_list2, user_list1, user_list2], columns=column_name_list, index=[1,"Two",3.3,"anything"])  # we can define then by any name just as columns
df

,First Name,Last_Name,Height,Age,Birthday,Skills,More_details,Age_till_today
1,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125
Two,Sanket1,Wagh1,173,23.288159,1998-06-19,"[Java, Sleeping, NoSQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",8506 days 11:21:10.786041
3.3,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125
anything,Sanket1,Wagh1,173,23.288159,1998-06-19,"[Java, Sleeping, NoSQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",8506 days 11:21:10.786041

In [69]:
# Define Indexes which are unique and dont repeat so it maintains dataframe properly
df = pd.DataFrame([user_list1, user_list2, user_list1, user_list2], columns=column_name_list, index=[1,2,3,4])
df

,First Name,Last_Name,Height,Age,Birthday,Skills,More_details,Age_till_today
1,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125
2,Sanket1,Wagh1,173,23.288159,1998-06-19,"[Java, Sleeping, NoSQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",8506 days 11:21:10.786041
3,Sanket,Wagh,176,29.122519,1992-08-18,"[Python, cooking, SQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",10637 days 11:21:10.755125
4,Sanket1,Wagh1,173,23.288159,1998-06-19,"[Java, Sleeping, NoSQL]","{'Hair Color': 'Black', 'Skin Color': 'Light B...",8506 days 11:21:10.786041

In [74]:
l = [[1,4],[5,6]]
print(sum(l,[]))

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [79]:
sum(l, [])

[1, 4, 5, 6]

In [88]:
sum(sum([[1,2,3]],  [7]))

13