# SQL Hacker Rank Gold Rank Rush

In [ ]:
%load_ext sql

In [1]:
--  Weather Observation Station 11

SELECT distinct city
FROM station
WHERE LEFT(city,1) NOT  IN ('A', 'I', 'O', 'E', 'U')
OR
RIGHT(city, 1) NOT IN ('a', 'e', 'i', 'o', 'u');

SyntaxError: invalid syntax (Temp/ipykernel_11240/2052849796.py, line 1)

In [ ]:
-- Weather Observation station 12
SELECT distinct city
FROM station
WHERE LEFT(city,1) NOT  IN ('A', 'I', 'O', 'E', 'U')
OR
RIGHT(city, 1) NOT IN ('a', 'e', 'i', 'o', 'u');

In [ ]:
-- 
SELECT name
FROM students
order by right(name,3) asc
WHERE marks > 75

In [ ]:
-- Employee Salaries
SELECT name
FROM employee
WHERE 
    salary > 2000
    AND
    months < 10
ORDER BY employee_id

In [ ]:
-- Population Density Difference
select max(population) - min(population)
from city

In [ ]:
-- Japna population 
select sum(population)
from city
where countrycode = 'JPN'

In [4]:
%%sql $learning_db
-- Blunder
select f_name from personal_details

UsageError: Cell magic `%%sql` not found.

In [ ]:
-- Top Earners
select (salary * months) as total_earning
from employee
where total_earning = (select max(salary * months) from employee)

In [ ]:
-- Type of Triangle
SELECT  CASE
            WHEN A + B > C AND B + C > A AND A + C > B THEN
                CASE
                    WHEN A=B AND B=C THEN 'Equilateral'
                    WHEN A=B OR B=C OR A=C THEN 'Isosceles'
                    ELSE 'Scalene'
                END
            ELSE 'Not A Triangle'
        END
FROM triangles

In [ ]:
-- The PADS
SELECT CONCAT(name,'(', LEFT(occupation,1), ')')
FROM occupations
ORDER BY NAME asc;

select concat('There are a total of ',count(occupation),lower(occupation),'s.)')
from occupations
group by occupation
order by count(occupation)

In [ ]:
-- Revising Aggregations - The Count Function
SELECT COUNT(*) 
FROM city
WHERE population > 100000

In [ ]:
-- Weather Observation Station 2
SELECT SUM(ROUND(lat_n,2)) , SUM(ROUND(long_w,2))
FROM station