# Data Analysis 101

In [3]:
# !pip install pandas
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"ChicagoPublicSchools_Test.csv")

In [ ]:
df.head(11)

In [9]:
df.NAME_OF_SCHOOL.nunique()

9

In [4]:
df.dropna(subset =["City"], axis = 0, inplace=True)

In [5]:
df["Safety_Icon"].replace(np.nan, "whooo HOOO", inplace = True)

In [6]:
df.replace("Not Enough Data", "Zero")

,School_ID,NAME_OF_SCHOOL,Street_Address,City,Track_Schedule,CPS_Performance_Policy_Status,CPS_Performance_Policy_Level,HEALTHY_SCHOOL_CERTIFIED,Safety_Icon,SAFETY_SCORE,...,Average_Teacher_Attendance,Individualized_Education_Program_Compliance_Rate,Pk_2_Literacy__,Pk_2_Math__,Gr3_5_Grade_Level_Math__,Gr3_5_Grade_Level_Read__,Gr3_5_Keep_Pace_Read__,Gr3_5_Keep_Pace_Math__,Gr6_8_Grade_Level_Math__,Gr6_8_Grade_Level_Read__
0,610038,Abraham Lincoln Elementary School,615 W Kemper Pl,Chicago,Standard,Not on Probation,Level 1,Yes,Very Strong,99,...,96.40%,95.80%,80.1,43.3,89.6,84.9,60.7,62.6,81.9,85.2
1,610281,Adam Clayton Powell Paideia Community Academy ...,7511 S South Shore Dr,Chicago,Track_E,Not on Probation,Level 1,No,Average,54,...,95.30%,100.00%,62.4,51.7,21.9,15.1,29,42.8,38.5,27.4
3,609993,Agustin Lara Elementary Academy,4619 S Wolcott Ave,Chicago,Track_E,Not on Probation,Level 1,No,whooo HOOO,56,...,95.80%,100.00%,76.9,NDA,26,24.7,61.8,49.7,39.2,27.2
4,610513,Air Force Academy High School,3630 S Wells St,Chicago,Standard,Not on Probation,Zero,Yes,Average,49,...,96.90%,100.00%,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA
5,610212,Albany Park Multicultural Academy,4929 N Sawyer Ave,Chicago,Standard,Not on Probation,Level 1,No,Strong,66,...,96.90%,100.00%,NDA,NDA,NDA,NDA,NDA,NDA,60.7,39.8
6,609720,Albert G Lane Technical High School,2501 W Addison St,Chicago,Standard,Not on Probation,Level 1,No,0,88,...,96.20%,99.40%,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA
7,610342,Albert R Sabin Elementary Magnet School,2216 W Hirsch St,Chicago,Standard,Probation,Level 3,No,Strong,67,...,95.00%,100.00%,56.3,NDA,33.5,33.5,49.5,49.5,27.4,39.3
8,610524,Alcott High School for the Humanities,2957 N Hoyne Ave,Chicago,Standard,Not on Probation,Zero,No,Strong,70,...,96.90%,100.00%,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA

In [7]:
type(df.columns)

pandas.core.indexes.base.Index

In [8]:
pd.get_dummies(df["Track_Schedule"])

   Standard  Track_E
0         1        0
1         0        1
3         0        1
4         1        0
5         1        0
6         1        0
7         1        0
8         1        0

In [10]:
df.columns
df['HEALTHY_SCHOOL_CERTIFIED'].value_counts()

No     6
Yes    2
Name: HEALTHY_SCHOOL_CERTIFIED, dtype: int64