# <b><u>Merge & Groupby Operations in Pandas

## **We can merge dataframes using the following methods**

* <code> pd.concat( [df] , axis) </code>

* <code> pd.merge( df1, df2 ,on,how,suffixes) </code>




### More detailed documentation here : https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [14]:
import pandas as pd
import numpy as np

In [15]:
file_path = r"C:\Users\Admin\PycharmProjects\Practice\ALmabetter\datasets\imdb_data.csv"
imdb_df=pd.read_csv(file_path)

In [16]:
imdb_df.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651

In [17]:
imdb_df.drop("id", axis=1, inplace=True)

## Let us go ahead and create three subsets of our original dataset

In [18]:

filter1 = imdb_df["runtime"] >= 150
filter2= (imdb_df["runtime"] < 150) & (imdb_df["runtime"] > 100)
filter3 = imdb_df["runtime"] <= 100
# Create three dataframes

In [19]:

imdb1 = imdb_df[filter1]
imdb2 = imdb_df[filter2]
imdb3 = imdb_df[filter3]

In [20]:
imdb3["runtime"].head(2)

0    93.0
5    83.0
Name: runtime, dtype: float64

In [21]:
imdb2.head(2)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000

In [22]:
imdb3.head(2)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
5,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,/6IDqA1D2NBIVhzEEaMMRL28iBrq.jpg,...,8/6/87,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638

In [23]:
# Concat both axis
imdb_non_null_runtime = pd.concat([imdb1,imdb2,imdb3])
imdb_non_null_runtime.shape, " ---- ", imdb_df.shape

((2998, 22), ' ---- ', (3000, 22))

In [24]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  604 non-null    object
 1   budget                 3000 non-null   int64
 2   genres                 2993 non-null   object
 3   homepage               946 non-null    object
 4   imdb_id                3000 non-null   object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   object
 13  runtime                2998 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
dtypes: float64(2), int64(2), object(18)
memory usage: 515.8+ KB

In [25]:
imdb_df.shape

(3000, 22)

In [26]:
imdb1.shape,imdb2.shape,imdb3.shape

((135, 22), (1586, 22), (1277, 22))

In [27]:
imdb_non_null_runtime_C = pd.concat([imdb1,imdb2,imdb3], axis=1)
imdb_non_null_runtime_C.shape

(2998, 66)

In [28]:
imdb_non_null_runtime_C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2998 entries, 0 to 2999
Data columns (total 66 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  21 non-null     object
 1   budget                 135 non-null    float64
 2   genres                 134 non-null    object
 3   homepage               40 non-null     object
 4   imdb_id                135 non-null    object
 5   original_language      135 non-null    object
 6   original_title         135 non-null    object
 7   overview               135 non-null    object
 8   popularity             135 non-null    float64
 9   poster_path            135 non-null    object
 10  production_companies   125 non-null    object
 11  production_countries   134 non-null    object
 12  release_date           135 non-null    object
 13  runtime                135 non-null    float64
 14  spoken_languages       135 non-null    object
 15  status                 135 non-null    object
 16  tagline                85 non-null     object
 17  title                  135 non-null    object
 18  Keywords               120 non-null    object
 19  cast                   132 non-null    object
 20  crew                   132 non-null    object
 21  revenue                135 non-null    float64
 22  belongs_to_collection  297 non-null    object
 23  budget                 1586 non-null   float64
 24  genres                 1584 non-null   object
 25  homepage               529 non-null    object
 26  imdb_id                1586 non-null   object
 27  original_language      1586 non-null   object
 28  original_title         1586 non-null   object
 29  overview               1586 non-null   object
 30  popularity             1586 non-null   float64
 31  poster_path            1586 non-null   object
 32  production_companies   1535 non-null   object
 33  production_countries   1568 non-null   object
 34  release_date           1586 non-null   object
 35  runtime                1586 non-null   float64
 36  spoken_languages       1580 non-null   object
 37  status                 1586 non-null   object
 38  tagline                1312 non-null   object
 39  title                  1586 non-null   object
 40  Keywords               1476 non-null   object
 41  cast                   1577 non-null   object
 42  crew                   1576 non-null   object
 43  revenue                1586 non-null   float64
 44  belongs_to_collection  286 non-null    object
 45  budget                 1277 non-null   float64
 46  genres                 1273 non-null   object
 47  homepage               377 non-null    object
 48  imdb_id                1277 non-null   object
 49  original_language      1277 non-null   object
 50  original_title         1277 non-null   object
 51  overview               1271 non-null   object
 52  popularity             1277 non-null   float64
 53  poster_path            1277 non-null   object
 54  production_companies   1183 non-null   object
 55  production_countries   1242 non-null   object
 56  release_date           1277 non-null   object
 57  runtime                1277 non-null   float64
 58  spoken_languages       1264 non-null   object
 59  status                 1277 non-null   object
 60  tagline                1006 non-null   object
 61  title                  1277 non-null   object
 62  Keywords               1127 non-null   object
 63  cast                   1276 non-null   object
 64  crew                   1275 non-null   object
 65  revenue                1277 non-null   float64
dtypes: float64(12), object(54)
memory usage: 1.5+ MB

In [29]:
list_of_dfs = []
for file_name in :
  df = pd.read_csv("")
  list_of_dfs.append(df)

SyntaxError: invalid syntax (<ipython-input-29-7e0556799396>, line 2)

In [ ]:
consolidated_df = pd.concat(list_of_dfs)

In [ ]:
# Concatenate along a particular axis
sample_df = pd.concat([imdb1, imdb2],axis=1)

In [ ]:
sample_df.tail()

In [ ]:
sample_df.info()

In [ ]:
sample_df.columns

In [ ]:
imdb1.shape, imdb2.shape

# Now let's do some joins

* ### Inner join
* ### Left join
* ### Right join
* ### Outer join

![join-types-merge-names.jpg]()

In [ ]:
# Let us create a dataframe which consists of only English movies
english_movies = imdb_df[imdb_df['original_language'] == 'en']

# Next let us create another dataframe which consists of only those movies whose length is greater than 100 mins
long_movies = imdb_df.loc[imdb_df['runtime'] >= 100,['imdb_id','original_language']]

In [ ]:
english_movies.shape, long_movies.shape

In [ ]:
type(long_movies)

# <u><b> Using inner join to merge the two dataframes

In [ ]:
# Merging the two dataframes using inner join
merged_IJ_df = pd.merge(english_movies, long_movies, how='inner',left_on='imdb_id',right_on='imdb_id')

In [ ]:
merged_IJ_df

In [ ]:
temp_df = imdb_df[(imdb_df['original_language'] == 'en') & (imdb_df['runtime'] >=100)]

In [ ]:
temp_df.shape

# <u><b> Using left join to merge the two dataframes

In [ ]:
# Merging the two dataframes using left join
merged_LJ_df = pd.merge(english_movies, long_movies, how='left',left_on='imdb_id',right_on='imdb_id')

In [ ]:
merged_LJ_df

# <u><b> Using right join to merge the two dataframes

In [ ]:
# Merging the two dataframes using right join
merged_RJ_df = pd.merge(english_movies, long_movies, how='right',left_on=['imdb_id'],right_on='imdb_id')

In [ ]:
merged_RJ_df

# <u><b> Using outer join to merge the two dataframes

In [ ]:
# Outer Join
merged_OJ_df = pd.merge(english_movies[['imdb_id','runtime']],long_movies, on='imdb_id', how='outer')

In [ ]:
merged_OJ_df

# **Finally let us do some <code>groupby</code> operations**

In [32]:
# Importing datetime modules
from datetime import datetime
from datetime import date

In [33]:
def parse_string_to_date(datestring):

  return convert_to_year(datestring)

In [40]:
imdb_df['new_release_date']= imdb_df.apply(lambda x : datetime.strptime(x['release_date'],'%m/%d/%y'),axis=1)

In [41]:
def convert_to_year(datevalue):
  return datevalue.year

In [42]:
imdb_df['Year_of_release_1'] = imdb_df['new_release_date'].apply(convert_to_year)

In [43]:
imdb_df['new_release_date'][2].year

2014

In [44]:
imdb_df.head()

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,status,tagline,title,Keywords,cast,crew,revenue,new_release_date_2,new_release_date,Year_of_release_1
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,2015-02-20,2015-02-20,2015
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,2004-08-06,2004-08-06,2004
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,2014-10-10,2014-10-10,2014
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,2012-03-09,2012-03-09,2012
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,2009-02-05,2009-02-05,2009

In [47]:
imdb_df['new_release_date'] = np.where(imdb_df['new_release_date'] > 2020,imdb_df['new_release_datee'] - 100,imdb_df['Year_of_release'])

TypeError: Invalid comparison between dtype=datetime64[ns] and int

In [ ]:
imdb_df['Year_of_release'].unique()

In [ ]:
imdb_df['Year_of_release'].min()

In [45]:
# We can find the maximum movie runtime across different years
max_runtime_movies_by_year = imdb_df.groupby('Year_of_release')['runtime'].max()

KeyError: 'Year_of_release'

In [30]:
imdb_df.head()

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
max_runtime_movies_by_year.rename(columns = {'runtime' : 'max_runtime'},inplace=True)

In [ ]:
imdb_df.shape

In [ ]:
max_runtime_movies_by_year.head()

In [ ]:
# We can find the maximum movie runtime across different years
imdb_df.groupby('Year_of_release')['runtime'].median().reset_index()

In [ ]:
imdb_df.groupby('Year_of_release')['imdb_id'].count().median()

In [ ]:
imdb_df.groupby('Year_of_release', as_index=False).agg({"runtime": "sum"})

In [ ]:
imdb_df.groupby(['Year_of_release', 'original_language'],as_index=False)

In [ ]:
# Group the data frame by month and item and extract a number of stats from each group
imdb_df.groupby(['Year_of_release', 'original_language'],as_index=False).agg({'runtime':"mean",'revenue': "sum",'imdb_id':"count"}).sort_values(by='Year_of_release').rename(columns ={'runtime':'avg_runtime','revenue':'total_revenue','imdb_id':'num_movies'})