# Sets 101

## sets remove duplicates and only keeps unique values

In [2]:
s1 = set([1, 2, 3, 4, 5,5,5])
s1

{1, 2, 3, 4, 5}

In [7]:
# set.add() adds a single value if not exist in set
s1.add(11)
s1

{1, 2, 3, 4, 5, 6, 8, 10, 11}

In [5]:
#set.update() updates or adds multiple elements to set
s1.update([1,2,6,8])
s1

{1, 2, 3, 4, 5, 6, 8, 10}

In [10]:
s2 = {7, 8 , 9 , 19,3}
s2

{3, 7, 8, 9, 19}

In [11]:
# set.remove() removes an element if present and if absent throws key error
s2.remove(8)

In [14]:
s2.remove(8)

KeyError: 8

In [15]:
# set.discard() method removes an element and does not throw an error if the element is absent

In [17]:
s2.discard(8)
s2

{3, 7, 9, 19}

In [19]:
s2.discard(19)

## Intersection
> The common element in both sets

In [22]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 8, 10, 11}
{3, 7, 9}

In [21]:
s3 = s1.intersection(s2)
s3

{3}

In [25]:
# multiple intersections in set.intersection()
s4 = s1.intersection(s2, s3)
s4

{3}

## set.difference() gives the elements which are only in set on operated on

In [28]:
s5 = s1.difference(s2)
s5  # returns elements which are only present in s1 and discards common elements

{1, 2, 4, 5, 6, 8, 10, 11}

In [29]:
s2.difference(s1)

{7, 9}

## Symmetric difference
> gets the difference of both sets

In [30]:
s2.symmetric_difference(s1)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11}

# Practical use case

In [33]:
# Remove Duplicates
l1 = [ i, 2, 3, 3, 2, 5]
l2 = list(set(l1))
"kidi"hi

[1, 2, 3, 5]

In [1]:
a = {1,3,5}
b = {3,5,10,11,14}
a.intersection(b)

{3, 5}