In [85]:
import ibm_db
import pandas as pd
import ibm_db_dbi as db

In [75]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "mgr61801"        # e.g. "abc12345"
dsn_pwd = "xigLtUl6J3qYXTLs"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "31198"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

In [76]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=31198;PROTOCOL=TCPIP;UID=mgr61801;PWD=xigLtUl6J3qYXTLs;SECURITY=SSL;

In [77]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  mgr61801 on host:  0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [78]:
# Create Table
table_name = "Trucks"
sql_statement = f"""
CREATE TABLE {table_name}(Serial_No varchar(20) PRIMARY KEY NOT NULL,
Model varchar(20) NOT NULL,
Manufacturer varchar(20) NOT NULL,
Engine_Size varchar(20) NOT NULL,
Engine_Name varchar(20) NOT NULL,
Truck_Class varchar(20) NOT NULL)
"""
#conn is database server
ibm_db.exec_immediate(conn, f"Drop Table {table_name}")  # drops table in case it is already preseng in DB
ibm_db.exec_immediate(conn, sql_statement)

In [79]:
# Load data multiple rows
sql_statement2 = """ INSERT INTO Trucks(Serial_No, Model, Manufacturer, Engine_Size, Engine_Name, Truck_Class)
VALUES
('A1234', 'Lonestar1', 'International1', 'Trucks1', 'Cummins ISX151', 'Class 1'),
('A1235', 'Lonestar2', 'International2', 'Trucks2', 'Cummins ISX152', 'Class 2'),
('A1236', 'Lonestar3', 'International3', 'Trucks3', 'Cummins ISX153', 'Class 3'),
('A1237', 'Lonestar4', 'International4', 'Trucks4', 'Cummins ISX154', 'Class 4'),
('A1238', 'Lonestar5', 'International5', 'Trucks5', 'Cummins ISX155', 'Class 4'),
('A1239', 'Lonestar6', 'International6', 'Trucks6', 'Cummins ISX156', 'Class 6');"""
ibm_db.exec_immediate(conn, sql_statement2)

In [83]:
# get table from database using select
sql_statement3 ="""SELECT * FROM Trucks;"""
statement = ibm_db.exec_immediate(conn, sql_statement3)
ibm_db.fetch_both(statement)

{'SERIAL_NO': 'A1234',
 0: 'A1234',
 'MODEL': 'Lonestar1',
 1: 'Lonestar1',
 'MANUFACTURER': 'International1',
 2: 'International1',
 'ENGINE_SIZE': 'Trucks1',
 3: 'Trucks1',
 'ENGINE_NAME': 'Cummins ISX151',
 4: 'Cummins ISX151',
 'TRUCK_CLASS': 'Class 1',
 5: 'Class 1'}

In [88]:
# import ibm_db
# import pandas as pd
# import ibm_db_dbi as db
pconn = db.Connection(conn)
df = pd.read_sql(sql_statement3, pconn)

In [89]:
df

  SERIAL_NO      MODEL    MANUFACTURER ENGINE_SIZE     ENGINE_NAME TRUCK_CLASS
0     A1234  Lonestar1  International1     Trucks1  Cummins ISX151     Class 1
1     A1235  Lonestar2  International2     Trucks2  Cummins ISX152     Class 2
2     A1236  Lonestar3  International3     Trucks3  Cummins ISX153     Class 3
3     A1237  Lonestar4  International4     Trucks4  Cummins ISX154     Class 4
4     A1238  Lonestar5  International5     Trucks5  Cummins ISX155     Class 4
5     A1239  Lonestar6  International6     Trucks6  Cummins ISX156     Class 6