In [3]:
import pandas as pd
import random

In [8]:
l = [random.choice(["Petrol", "Diesel"]) for i in range(100)]
# print(l)
df = pd.DataFrame(l)

In [9]:
pd.get_dummies(df)

    0_Diesel  0_Petrol
0          0         1
1          1         0
2          0         1
3          0         1
4          0         1
..       ...       ...
95         1         0
96         1         0
97         0         1
98         1         0
99         1         0

[100 rows x 2 columns]