# Stored Procedures in SQL or Functions in postgres

In [1]:
%load_ext sql

In [2]:
learning_db = f'postgresql://postgres:SANket147@localhost/Learning'

In [3]:
%sql $learning_db

In [4]:
%sql DROP TABLE personal_details;

 * postgresql://postgres:***@localhost/Learning
Done.

[]

In [5]:
%%sql
select * from depts 
where first_name like 'V%'

 * postgresql://postgres:***@localhost/Learning
1 rows affected.

[('Vinton', 'A')]

In [25]:
%%sql
create FUNCTION func1(IN x int, OUT prod int) as $$
BEGIN 
IF x < 2 then
    prod := x * x;
end if;
END;
$$ LANGUAGE plpgsql;

 * postgresql://postgres:***@localhost/Learning
Done.

[]

In [ ]:
## Calling a stored procedure

In [27]:
%%sql
select func1(-2)

 * postgresql://postgres:***@localhost/Learning
1 rows affected.

[(4,)]

In [30]:
%%sql
create FUNCTION func2()
returns table(
    first_name varchar,
    department varchar)
    as $$
BEGIN 
return query with a as(
    select * from depts)

END;
$$ LANGUAGE plpgsql;

 * postgresql://postgres:***@localhost/Learning
(psycopg2.errors.SyntaxError) syntax error at or near "END"
LINE 9: END;
        ^

[SQL: create FUNCTION func2() returns table(
    first_name varchar,
    department varchar)
    as $$
BEGIN
return query with a as(
    select * from depts)

END;
$$ LANGUAGE plpgsql;]
(Background on this error at: http://sqlalche.me/e/f405)